.top-donator-slider .swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 12px;
}

.top-donator-slider .swiper-pagination-bullet {
  transition: width 0.3s ease-in-out;
}

.top-donator-slider .swiper-pagination-bullet-active {
  background-color: #2f1793;
  width: 25px;
}
